.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___right img {
  transform: scale(-1, 1);
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___fighter {
  height: 230px;
}

.fighter-preview___stats {
  position: relative;
  padding: 10px;
  background-color: #f6f8f3;
  box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.75);
  background: #ffdfa7;
  border: 5px solid #ca9650;
}

.fighter-preview___text {
  display: block;
  margin: 0;
  text-align: center;
  font-weight: bold;
  font-size: 26px;
  color: #000;
  z-index: 10000;
}

/*
mirror:
transform: scale(-1, 1);
*/
